package page

import (
    "github.com/cbugk/iamfeelingcody/src/internal/sqlc/sqlite"
    "github.com/cbugk/iamfeelingcody/src/internal/templ/comp"
)

templ Search(users []sqlite.GithubUser) {
    @comp.ScriptHTMX()

    @comp.Search(users)
}