# VSCode directory
.vscode

# Output binaries
bin/*

# Templ generated go files
**/*_templ.go


#####################
# Global exceptions #
#####################

# Keep any gitkeep file
!**/.gitkeep
