package templ

import (
    "fmt"
    "github.com/cbugk/iamfeelingcody/src/internal/sqlc"
)


templ PageGithubUserFound(user sqlc.GithubUser) {
	<div>
        <p>
            Found Github user: "<a href={ templ.URL(fmt.Sprintf("https://github.com/%v", user.Name)) }>{ fmt.Sprintf("https://github.com/%v", user.Name) }</a>"
        </p>
    </div>
}