package templ

import (
    "fmt"
    "github.com/cbugk/iamfeelingcody/internal/sqlc"
)

templ PageGithubUserNotFound(user sqlc.GithubUser) {
	<div>
        <p>
            Could not find Github user: "<a href={ templ.URL(fmt.Sprintf("https://github.com/%v", user.Name)) }>{ fmt.Sprintf("https://github.com/%v", user.Name) }</a>"
        </p>
    </div>
}