package templ

import (
    "fmt"
    "github.com/cbugk/iamfeelingcody/internal/sqlc"
)

templ PageFoundUsers(users []sqlc.GithubUser) {
    <div>
        <table>
            for _, user := range users {
                <tr>
                    <th>
                        <a href={ templ.URL(fmt.Sprintf("https://github.com/%v", user.Name)) }>{ fmt.Sprintf("https://github.com/%v", user.Name) }</a>
                    </th>
                </tr>
            }
        </table>
    </div>
}