package templ

import (
    "github.com/cbugk/iamfeelingcody/internal/model"
)

templ PageFoundUsers(users []model.GithubUser) {
    <div>
        <table>
            for _, user := range users {
                <tr>
                    <th>
                        <a href={ templ.URL(user.URI().Text()) }>{ user.URI().Text() }</a>
                    </th>
                </tr>
            }
        </table>
    </div>
}