package templates

import (
    "github.com/cbugk/iamfeelingcody/internal/model"
)


templ PageGithubUserFound(user model.GithubUser) {
	<div>
        <p>
            Found Github user: "<a href={ templ.URL(user.URI().Text()) }>{ user.URI().Text() }</a>"
        </p>
    </div>
}